<div class="main-body">
    <div class="bg-white">

        <mat-card class='mat-elevation-z5 p-0'>
            <mat-card-header class="mat-card-header">
                <mat-card-title class="p-2">ADD POST</mat-card-title>

            </mat-card-header>
            <mat-toolbar class="theme-color">
                <span></span>
                <span class="example-spacer"></span>
             
            </mat-toolbar>
            <mat-divider></mat-divider>

            <form [formGroup]="blogForm">
                <mat-card-content class="p-3">

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <mat-form-field class="py-3">
                                <mat-label>Blog Title</mat-label>
                                <input name="title" type='text' matInput placeholder="Post Title"
                                    formControlName="blog_title">
                                <!-- <mat-error *ngIf="title.errors?.required">Title is required.</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <mat-label>Blog header Image</mat-label>
                            <ckeditor  editorUrl="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js" required [config]="ckeConfig" formControlName='URL' required>
                            </ckeditor>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <mat-label>Blog Summary</mat-label>
                            <ckeditor editorUrl="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js" required [config]="ckeConfig" formControlName='blog_body' required>
                            </ckeditor>
                        </div>
                    </div>


                    <!-- <ckeditor name="blog description" matInput rows="6"
                        editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js" [config]="ckEditorConfig"
                        formControlName='blog_desc' required></ckeditor> -->
                    <div class="row">
                        <mat-label>Blog Description</mat-label>
                        <ckeditor editorUrl="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js" required
                            [config]="ckeConfig" formControlName='blog_desc' required>
                        </ckeditor>
                    </div>
                    <!-- <mat-error *ngIf="body.errors?.required && body.touched">Body text is required.</mat-error>
            <mat-error *ngIf="body.errors?.minlength">A minimum of 20 characters is required.</mat-error> -->




            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <mat-form-field class="py-3">
                        <mat-label>SEO Page Title</mat-label>
                        <input name="title" type='text' matInput placeholder="SEO Page Title"
                            formControlName="page_title">
                        <!-- <mat-error *ngIf="title.errors?.required">Title is required.</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <mat-form-field class="py-3">
                        <mat-label>SEO Meta Name</mat-label>
                        <input name="title" type='text' matInput placeholder="SEO Meta Name"
                            formControlName="pagemeta_name">
                        <!-- <mat-error *ngIf="title.errors?.required">Title is required.</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <mat-form-field class="py-3">
                        <mat-label>SEO Meta Description</mat-label>
                        <input name="title" type='text' matInput placeholder="SEO Meta Description"
                            formControlName="pagemeta_desc">
                        <!-- <mat-error *ngIf="title.errors?.required">Title is required.</mat-error> -->
                    </mat-form-field>
                </div>
            </div>

                </mat-card-content>

                <mat-divider></mat-divider>

                <div class="px-3 py-3">
                    <button mat-raised-button type="submit" class="me-2" color="accent"
                        (click)="onFormSubmit()">ADD</button>
                    <button mat-raised-button class="me-2" style="background-color: orange;"
                        (click)="onblogUpdate()">UPDATE</button>
                </div>
            </form>

        </mat-card>
    </div>
</div>