.list-item {
    padding: 0;
    list-style: none;
}
.list-one{
    margin-right: 30px;
}
.list-btn {
    border: 1px solid #57CF55;
    color: #57CF55;
    padding: 9px 20px;
    border-radius: 3px;
}
.btn-amt {
    padding: 5px 7px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
}
.border-btm {
    border-bottom: 2px solid #fff;
}
.card-list{
    font-size: 16px;
}